{% extends "vibe/layout.html" %}
{% load static %}

{% block body %}
{% if vibe %}
<h1>Vibe Details</h1>
<li id="vibe-{{ vibe.id }}" class="vibe-record">
    <a href="{% url 'vibe:vibe_details' vibe.pk %}">
    <img class="pic" src="{{ vibe.img_url }}" alt="Image not found"</img>
    </a>
    <ul class="vibe-metadata">
        <li> 
            <a href="{% url 'vibe:profile' vibe.creator %}">{{ vibe.creator }}</a>
        </li>
        <li>
            <a href="javascript:vibeForm({{ vibe.id }});">Edit</a>
        </li>
        <li id="vibe-record-title-{{ vibe.id }}">
            {{ vibe.title }}
        </li>
        <li id="vibe-record-description-{{ vibe.id }}">
            {{ vibe.description }}
        </li>
        <li id="vibe-record-location-{{ vibe.id }}">
            {{ vibe.location }}
        </li>
        <li>
            {{ vibe.date_created }}
        </li>
        <li>
            <a href="javascript:vibeCheers({{ vibe.id }});">&#128151;</a>
            <a>{{ vibe.cheers }}</a>
        </li>
    </ul>
</li>  
{% else %}
<h1>Community Vibes!</h1>
<div id="vibe">
</div>
<div id="community-vibes">
    {% for vibe in vibes %}
    <li id="vibe-{{ vibe.id }}" class="vibe-record">
        <a href="{% url 'vibe:vibe_details' vibe.pk %}">
        <img class="pic" src="{{ vibe.img_url }}" alt="Image not found"</img>
        </a>
        <ul class="vibe-metadata">
            <li> 
                <a href="{% url 'vibe:profile' vibe.creator %}">{{ vibe.creator }}</a>
            </li>
            <li>
                <a href="javascript:vibeForm({{ vibe.id }});">Edit</a>
            </li>
            <li id="vibe-record-title-{{ vibe.id }}">
                {{ vibe.title }}
            </li>
            <li id="vibe-record-description-{{ vibe.id }}">
                {{ vibe.description }}
            </li>
            <li id="vibe-record-location-{{ vibe.id }}">
                {{ vibe.location }}
            </li>
            <li>
                {{ vibe.date_created }}
            </li>
            <li>
                <a href="javascript:vibeCheers({{ vibe.id }});">&#128151;</a>
                <a>{{ vibe.cheers }}</a>
            </li>
        </ul>
    </li>    
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'vibe/vibe.js' %}"></script>
{% endblock %}