{% extends "vibe/layout.html" %}
{% load static %}

{% block body %}
{% if vibe %}
<h1>Vibe Details</h1>
<li id="vibe-{{ vibe.id }}" class="vibe-record">
    <a href="{% url 'vibe:vibe' vibe.pk %}">
    <img class="pic" src="{{ vibe.img_url }}" alt="Image not found"</img>
    </a>
    <ul class="vibe-metadata">
        <li> 
            <a href="/profile/{{vibe.creator}}">{{ vibe.creator }}</a>
        </li>
        <li>
            <a href="javascript:vibeForm({{ vibe.id }});">Edit</a>
        </li>
        <li id="vibe-record-title-{{ vibe.id }}">
            {{ vibe.title }}
        </li>
        <li id="vibe-record-description-{{ vibe.id }}">
            {{ vibe.description }}
        </li>
        <li id="vibe-record-location-{{ vibe.id }}">
            {{ vibe.location }}
        </li>
        <li id="vibe-record-date-{{ vibe.id }}"></li>>
            {{ vibe.date_created }}
        </li>
        <li>
            <a href="javascript:vibeCheers({{ vibe.id }});">&#127867;</a>
            <a>{{ vibe.cheers }}</a>
        </li>
    </ul>
</li>
<form action="{% url 'vibe:comments' vibe.pk %}" method="post">
{% csrf_token %}
{{ commentform.comment }}
<input type="submit" value="Add comment"/>
</form>
{% for comment in vibe_comments reversed %}
<ul class="vibe-comment">
    <li> 
        Member: {{ comment.member }}
    </li>
    <li>
        Comment: {{ comment.comment }}
    </li>
    <li>
        Created: {{ comment.comment_date }}
    </li>
</ul>
{% endfor %}
{% elif box_messages %}
<div id="messages-view">
{% for message in messages %}
<div id="message-id-{{ message.id}}" data-read="{{ message.read }}" onclick="read_message({{ message.id }}, '{{message.archived}}');" class="message"><p class="sender"><a href="/profile/{{message.sender.user.username}}">{{message.sender.user.username}}</a></p><p class="subject">{{message.subject}}</p><p class="timestamp">{{message.timestamp}}</p><p class="message-body" id ="message-body-{{message.id}}" style = "display: none;">{{message.body}}<a href="javascript:archive_message({{message.id}}, '{{message.archived}}');">Archive</a></p></div>
{% endfor %}
</div>
{% elif show_profile %}
<div class="vibe-profile" id="profile" style="display: block;">
    <h2 class="vibe-profile-name">{{ profile.preferred_name }}</h2>
    <ul>
        <li> 
            Fans: {{ fan_count }}
        </li>
        <li>
            Follows: {{ follow_count }}
        </li>
        {% if not self_profile %}
            {% if not fan %}
            <li>
                <input class="fan-button" data-profileid={{profile.id}} data-fan={{fan}} id='fan-button' type="button" value='Become a Fan'/>
            </li>
            {% else %}
            <li>
                <input class="fan-button" data-profileid={{profile.id}} data-fan={{fan}} id='fan-button' type="button" value='Stop being a fan'/>
            </li>
            {% endif %}
        {% endif %}
    </ul>
    <div id="compose-view">
        <h3>New Message</h3>
        <form id="compose-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.username }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id='compose-submit' type="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>
<div id="vibe" style="display: none;">
</div>
<div id="vibes" style="display: none;">
</div>
{% else %}\
<div class="vibe-profile" id="profile" style="display: none;">
</div>
<div id="vibe" style="display: block;">
</div>
<div id="vibes" style="display: block;">
</div>
{% endif %}
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'vibe/vibe.js' %}"></script>
{% endblock %}