.vibe-form {
    padding-left: 10px;
    display: block;
}

.vibe-button {
    color: white;
    background-color: blue;
}

.vibe-title {
    width: 80%;
}

.vibe-description {
    width: 80%;
}

.vibe-location {
    width: 80%;
}

.vibe-img-url {
    width: 80%;
}

.pic {
    float: left;
    width: 30%;
    padding-left: 10px;
}

.vibe-record {
    margin-top: 10px;
    max-height: 30%;
    display: inline-block;
    flex-wrap: wrap;
    outline: 1px solid lightgrey;
}

.vibe-metadata {
    text-align: left;
    float: left;
    padding-left: 5%;
    width: 65%;
    list-style: none;
}

